.table {
	padding-left: 20px;
	width: 95%;
}

.table-header {
	text-align: left;
}

.table-cell {
	padding-top: 10px;
	width: 34%;
}

.cell-link--repo {
	text-decoration: none;
	color: #000;
}

.cell-link--repo:hover {
	color: #763AEB;
}

.cell-link--button {
	color: #763AEB;
}
