#header {
	background-color: #763AEB;
	color: #FFF;
	height: 100px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#header h1 {
	margin: 0;
}

form {
	padding-top: 40px;
	padding-left: 20px;
}
